body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    /* Màu nền */
    color: white;
    /* Màu chữ */
    padding: 15px 20px;
    /* Khoảng cách bên trong */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}